.indexnav .nav {
    width: 700px;
    height: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.indexnav #top {
    width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    height: 50px;
}
.indexnav .top {
    min-width: 1280px;
    font-size: 16px;
    height: 50px;
    margin-top: 0px;
    background-color: white;
}
.kj {
    width: 100%;
    height: 50px
}
.indexnav .fl {
    float: left;
}
.indexnav .nav_menu {
    line-height: 50px;
    text-transform: uppercase;
}
.indexnav .nav_menu-item {
    display: inline-block;
    position: relative;
    float: left;
    width: 100px;
    text-align: center;
}
.indexnav .headMenuNow p {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    z-index: 999;
    color: white;
}
.indexnav .nav a {
    line-height: inherit;
    color: #FFF;
}
.indexnav   .nav a:hover{
    background-color: #00b7ee;
    width: 100px;
    transform: skew(0deg) !important;
    position: relative;
}
.indexnav .headMenuNow {
    background-color: #00b7ee;
    width: 100px;
    transform: skew(0deg) !important;
    position: relative;
}
.indexnav a{
        color: #5e5e5e;
    text-decoration: none;
    cursor: pointer;
    display: block;
    background-color: transparent;
}
.indexnav .nav_menu {
    line-height: 50px;
    text-transform: uppercase;
}
.indexnav .nav a {
    line-height: inherit;
    color: #FFF;
}
.indexnav p{
    color: #7a6f6f;
    height: 35px;
    padding-top: 15px
}
.indexnav p:hover{
    color: white;
}
.excerpt img{
    width: 180px;
    height: 120px
}
.dd-img img{
    width: 250px;
    height: 200px
}

.dd-img img:hover{
    -webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);

    -webkit-transition: -webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -o-transition: -o-transform .3s linear;
    transition: transform .3s linear;
}
.pic-list img:hover{
    -webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);
        -webkit-transition: -webkit-transform .3s linear;
            -moz-transition: -moz-transform .3s linear;
    -o-transition: -o-transform .3s linear;
}
.swiper-slide {
    padding: 0 15px;
    width: auto !important;
}
#nav-header.shadow {
    height: auto;
}
#nav-header {
    height: auto;
}
<style>
header{
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    background:#eee;
    height:60px;
}
header>.logo{
    width:130px;
    text-indent:-9999px;
    padding:0;
    margin:0;
}
header>.logo>a{
    display:block;
    width:130px;
    height:60px;
    background-size: contain;
}
header>.logo>a:active{
    opacity:.6;
}
header>.control{
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex:1 0 auto;
    padding:15px 10px 0;
}
header>.control>a.ctrl{
    border: 1px solid #d2d2d2;
    height: 30px;
    text-align: center;
    color: #333;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    background-color: #fff;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex:1 0 auto;
    display:block;
}
header>.control>a:active{
    opacity:.6;
}
header>.control>.usercenter.ctrl{
    border-radius: 5px 0 0px 5px;
}
header>.control>.reg.ctrl {
    border-left: 0;
    border-right: 0;
}
header>.control>.write.ctrl{
    border-radius: 0 5px 5px 0;
}

.swiperImg{
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    bottom: 5px;
    height: 30px;
    background: rgba(0,0,0,.5);
    color: #fff;
    margin: 0 auto;
    padding: 0 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
}

.bottom_download{
    background:#ffffff;
    position:fixed;
    bottom:0px;
    width:100%;
    height: auto;
    z-index:100;
}
</style>